@font-face {
  font-family: 'haval';
  src:
    url('../fonts/haval-medium.woff2') format('woff2'),
    url('../fonts/haval-medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'tt-wellingtons';
  src:
    url('../fonts/tt-wellingtons-medium.woff2') format('woff2'),
    url('../fonts/tt-wellingtons-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'avenir-next';
  src:
    url('../fonts/avenirnext-regular.woff2') format('woff2'),
    url('../fonts/avenirnext-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
