.title {
  display: block;
  position: relative;
  line-height: 1;

  &.title--h1 {
    font-size: myclamp(37px, 94px, 1440px, 1440px);
    line-height: 1.1;
  }

  &.title--h2 {
    font-size: myclamp(26px, 68px, 1440px, 1440px);
    line-height: 1.1;
  }

  &.title--h3 {
    font-size: myclamp(26px, 66px, 1440px, 1440px);
  }

  &.title--h4 {
    font-size: myclamp(26px, 66px, 1440px, 1440px);
  }

  &.title--h5 {
    font-size: myclamp(18px, 43px, 1440px, 1440px);
  }

  &.title--h6 {
    font-size: myclamp(18px, 41px, 1440px, 1440px);
    line-height: 1.2;
  }

  &.white {
    color: var(--white);
  }

  &.color {
    z-index: 0;
    &:before {
      content: '';
      position: absolute;
      left: -30px;
      top: -14px;
      right: -30px;
      bottom: -7px;
      z-index: -1;
      background: var(--color);
      transform: skewX(-40deg);
      @media (max-width: 767px) {
        left: -10px;
        top: -10px;
        right: -10px;
        bottom: -6px;
        transform: skewX(-30deg);
      }
    }
  }
}

.text {
  font-size: myclamp(16px, 36px, 1440px, 1440px);
  @media (max-width: 629px) {
    br {
      display: none;
    }
  }
}

.subtitle {
  font-size: myclamp(11px, 17px, 1440px, 1440px);
  @media (max-width: 519px) {
    br {
      display: none;
    }
  }
}
