:root {
  --haval: 'haval', sans-serif;
  --tt: 'tt-wellingtons', sans-serif;
  --next: 'avenir-next', sans-serif;
  --white: #ffffff;
  --black: #000000;
  --grey: #ced0cd;
  --grey-light: #dbdddd;
  --grey-text: #8b8d8d;
  --header-bg: #636b70;
  --color: #00d4cb;
  --hover: #08e6da;
  --invalid: #e30808;
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: "haval";
  src: url("../fonts/haval-medium.woff2") format("woff2"), url("../fonts/haval-medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "tt-wellingtons";
  src: url("../fonts/tt-wellingtons-medium.woff2") format("woff2"), url("../fonts/tt-wellingtons-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "avenir-next";
  src: url("../fonts/avenirnext-regular.woff2") format("woff2"), url("../fonts/avenirnext-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  z-index: 0;
}

body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
  font-family: var(--tt);
  font-weight: 500;
  color: var(--black);
  background: var(--grey);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-family: var(--haval);
  font-weight: 400;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
menu {
  list-style: none;
}

button {
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  color: inherit;
}
button:disabled {
  cursor: auto;
  pointer-events: none;
}

fieldset {
  border: none;
}

input {
  display: block;
  max-width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100svh;
  -webkit-transition: height 0.8s var(--transition);
  transition: height 0.8s var(--transition);
  background: var(--header-bg);
  z-index: 10;
  will-change: height;
}
.header img {
  position: relative;
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  -webkit-transition: -webkit-transform 0.8s var(--transition);
  transition: -webkit-transform 0.8s var(--transition);
  transition: transform 0.8s var(--transition);
  transition: transform 0.8s var(--transition), -webkit-transform 0.8s var(--transition);
  width: 216px;
  will-change: transform;
}

.loaded .header {
  height: 60px;
}
.loaded .header img {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 767px) {
  .header img {
    width: 134px;
  }
  .loaded .header {
    height: 40px;
  }
}
.section {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1390px;
  padding: 0px 20px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.title {
  display: block;
  position: relative;
  line-height: 1;
}
.title.title--h1 {
  font-size: clamp(37px, 6.5278vw, 94px);
  line-height: 1.1;
}
.title.title--h2 {
  font-size: clamp(26px, 4.7222vw, 68px);
  line-height: 1.1;
}
.title.title--h3 {
  font-size: clamp(26px, 4.5833vw, 66px);
}
.title.title--h4 {
  font-size: clamp(26px, 4.5833vw, 66px);
}
.title.title--h5 {
  font-size: clamp(18px, 2.9861vw, 43px);
}
.title.title--h6 {
  font-size: clamp(18px, 2.8472vw, 41px);
  line-height: 1.2;
}
.title.white {
  color: var(--white);
}
.title.color {
  z-index: 0;
}
.title.color:before {
  content: "";
  position: absolute;
  left: -30px;
  top: -14px;
  right: -30px;
  bottom: -7px;
  z-index: -1;
  background: var(--color);
  -webkit-transform: skewX(-40deg);
      -ms-transform: skewX(-40deg);
          transform: skewX(-40deg);
}
@media (max-width: 767px) {
  .title.color:before {
    left: -10px;
    top: -10px;
    right: -10px;
    bottom: -6px;
    -webkit-transform: skewX(-30deg);
        -ms-transform: skewX(-30deg);
            transform: skewX(-30deg);
  }
}

.text {
  font-size: clamp(16px, 2.5vw, 36px);
}
@media (max-width: 629px) {
  .text br {
    display: none;
  }
}

.subtitle {
  font-size: clamp(11px, 1.1806vw, 17px);
}
@media (max-width: 519px) {
  .subtitle br {
    display: none;
  }
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 20px;
  padding: 10px 30px;
  background-color: var(--color);
  -webkit-transition: background-color 0.3s var(--transition) 0s;
  transition: background-color 0.3s var(--transition) 0s;
  height: clamp(46px, 5.1389vw, 74px);
  border-radius: clamp(5px, 1.5278vw, 22px);
  -webkit-box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
}
@media (max-width: 767px) {
  .button {
    padding: 10px 14px;
    gap: 10px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.button span {
  font-family: var(--tt);
  font-weight: 500;
  font-size: clamp(24px, 2.5vw, 36px);
  line-height: 1;
  color: var(--black);
  -webkit-transition: color 0.3s var(--transition) 0s;
  transition: color 0.3s var(--transition) 0s;
}
.button img {
  max-height: clamp(18px, 3.75vw, 54px);
}
.button.button--grey {
  height: clamp(30px, 6.9444vw, 100px);
  background-color: var(--grey-light);
}
.button.button--grey span {
  font-size: clamp(12px, 3.125vw, 45px);
  font-family: var(--haval);
}
@media (hover: hover) {
  .button:hover {
    background-color: var(--hover);
  }
  .button.button--grey:hover {
    background-color: var(--white);
  }
}

.section--hero {
  padding: 60px 0px clamp(40px, 9.7222vw, 140px) 0px;
}
.section--hero .container {
  gap: clamp(40px, 6.9444vw, 100px);
}
@media (max-width: 767px) {
  .section--hero {
    padding: 40px 0px clamp(40px, 9.7222vw, 140px) 0px;
  }
}

.hero-image {
  position: relative;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  margin-bottom: -11vw;
}
@media (max-width: 640px) {
  .hero-image {
    min-width: 640px;
    margin-bottom: -72px;
  }
}
@media (max-width: 500px) {
  .hero-image {
    left: 100%;
    -webkit-transform: translate(-95%, 0%);
        -ms-transform: translate(-95%, 0%);
            transform: translate(-95%, 0%);
  }
}

.hero-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: clamp(20px, 4.1667vw, 60px);
  margin-bottom: clamp(10px, 2.0833vw, 30px);
}
@media (max-width: 1439px) {
  .hero-texts br {
    display: none;
  }
}

.hero-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: clamp(20px, 2.0833vw, 30px);
}
.hero-date .title {
  padding: 0px clamp(0px, 2.5694vw, 37px);
}
@media (max-width: 767px) {
  .hero-date .title {
    padding: 0;
  }
}

.section--about {
  padding-top: clamp(80px, 16.6667vw, 240px);
  padding-bottom: clamp(60px, 6.9444vw, 100px);
  background: var(--white);
  z-index: 2;
}
.section--about:before {
  content: "";
  position: absolute;
  left: 50%;
  top: -1px;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 100%;
  min-width: clamp(680px, 134.0278vw, 1930px);
  height: clamp(200px, 38.6806vw, 557px);
  background: url("../img/wave-about.svg") no-repeat center top/cover;
}
@media (max-width: 499px) {
  .section--about:before {
    -webkit-transform: translate(-60%, 0%);
        -ms-transform: translate(-60%, 0%);
            transform: translate(-60%, 0%);
  }
}

.program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: clamp(20px, 4.1667vw, 60px);
  max-width: 1020px;
  margin-top: clamp(30px, 4.8611vw, 70px);
}
.program:before {
  content: "";
  position: absolute;
  left: calc(50% - 1px);
  width: 2px;
  height: calc(100% - clamp(20px, 12.5vw, 180px));
  background: var(--black);
}
.program li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: clamp(48px, 10.9722vw, 158px);
}
.program li:before {
  content: "";
  position: absolute;
  width: clamp(16px, 3.6111vw, 52px);
  height: clamp(16px, 3.6111vw, 52px);
  background: #eff3f2;
  border-radius: 52px;
  border: clamp(4px, 0.8333vw, 12px) solid var(--black);
  -webkit-transform: translate(0%, -8%);
      -ms-transform: translate(0%, -8%);
          transform: translate(0%, -8%);
}
.program li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: clamp(140px, 29.8611vw, 430px);
  min-height: clamp(50px, 12.3611vw, 178px);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: left;
  font-family: var(--haval);
  font-size: clamp(12px, 2.5694vw, 37px);
  line-height: 1.6;
}
.program li span:first-child {
  font-size: clamp(15px, 3.125vw, 45px);
  text-align: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about-image {
  position: absolute;
  bottom: 0px;
  pointer-events: none;
}
.about-image.foto {
  width: clamp(95px, 25.8333vw, 372px);
  height: clamp(100px, 27.0833vw, 390px);
  right: 50%;
  -webkit-transform: translate(-108%, 2%) rotate(-12deg);
      -ms-transform: translate(-108%, 2%) rotate(-12deg);
          transform: translate(-108%, 2%) rotate(-12deg);
}
@media (max-width: 767px) {
  .about-image.foto {
    -webkit-transform: translate(-100%, -15%) rotate(-21.35deg);
        -ms-transform: translate(-100%, -15%) rotate(-21.35deg);
            transform: translate(-100%, -15%) rotate(-21.35deg);
  }
}
.about-image.car {
  width: clamp(120px, 38.5417vw, 555px);
  height: clamp(153px, 49.0972vw, 707px);
  left: 50%;
  -webkit-transform: translate(95%, -10%) rotate(-50.79deg);
      -ms-transform: translate(95%, -10%) rotate(-50.79deg);
          transform: translate(95%, -10%) rotate(-50.79deg);
}
@media (max-width: 1279px) {
  .about-image.car {
    -webkit-transform: translate(80%, -10%) rotate(-50.79deg);
        -ms-transform: translate(80%, -10%) rotate(-50.79deg);
            transform: translate(80%, -10%) rotate(-50.79deg);
  }
}
@media (max-width: 767px) {
  .about-image.car {
    -webkit-transform: translate(90%, -10%) rotate(-35.79deg);
        -ms-transform: translate(90%, -10%) rotate(-35.79deg);
            transform: translate(90%, -10%) rotate(-35.79deg);
  }
}

.foto-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  width: 100%;
  pointer-events: none;
  height: clamp(100px, 33.3333vw, 480px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: calc(clamp(100px, 33.3333vw, 480px) / 2 * -1) 0px;
}

.section--registration {
  padding-top: clamp(60px, 8.3333vw, 120px);
  padding-bottom: clamp(60px, 11.8056vw, 170px);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  margin-top: clamp(20px, 4.1667vw, 60px);
}
@media (max-width: 1023px) {
  .form {
    gap: 18px;
  }
}
.form .children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 0px 32px;
}
@media (max-width: 767px) {
  .form .children {
    gap: 0px 16px;
  }
}
.form .children .form-label {
  margin-bottom: 8px;
}
.form .fieldset {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}
.form .fieldset:first-child {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.form .fieldset {
  gap: 20px 32px;
  -webkit-box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
  background: var(--grey-light);
  border-radius: 22px;
  padding: 30px 32px;
}
@media (max-width: 767px) {
  .form .fieldset {
    gap: 14px 16px;
  }
}
.form .fieldset .fieldset__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form .fieldset .fieldset__item.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4px 8px;
}
.form .fieldset .fieldset__item.row .text-danger {
  width: 100%;
}
.form .fieldset .fieldset__item {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: left;
  gap: 4px;
}
.form .fieldset .fieldset__item.col--2 {
  width: calc(50% - 16px);
}
.form .fieldset .fieldset__item.col--3 {
  width: calc(33.333% - 21.3333333333px);
}
@media (max-width: 767px) {
  .form .fieldset .fieldset__item.col--2 {
    width: calc(50% - 8px);
  }
  .form .fieldset .fieldset__item.col--3 {
    width: calc(33.333% - 10.6666666667px);
  }
}
@media (max-width: 1023px) {
  .form .fieldset {
    padding: 20px 20px;
    border-radius: 10px;
  }
}
.form .fieldset.full {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0;
  background: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
@media (max-width: 1023px) {
  .form .fieldset {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
  }
}
.form .button {
  min-width: clamp(250px, 34.1667vw, 492px);
}
@media (max-width: 767px) {
  .form .button {
    min-width: 1px;
    max-width: 375px;
    width: 100%;
  }
}

.body.locked {
  overflow-x: hidden;
  overflow-y: hidden;
}

.backdrop {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: opacity;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 20px 10px 20px 10px;
  backdrop-filter: blur(8px);
  -webkit-transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
.backdrop:before {
  content: "";
  position: absolute;
  pointer-events: none;
  left: -20px;
  right: -20px;
  top: -50px;
  width: calc(100% + 40px);
  height: calc(100% + 70px);
  background: var(--grey-light);
  opacity: 0.6;
  grid-area: 1/1/2/2;
}
@supports (-webkit-touch-callout: none) and (-webkit-overflow-scrolling: touch) {
  .backdrop:before {
    content: none;
  }
}
@media (min-width: 1280px) {
  .backdrop {
    padding: 40px 10px 40px 10px;
  }
  .backdrop:before {
    top: -80px;
    height: calc(100% + 120px);
  }
}

.popup {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translate(0px, 50px);
      -ms-transform: translate(0px, 50px);
          transform: translate(0px, 50px);
  opacity: 0;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  pointer-events: none;
}
.popup.visible {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.popup-close {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  right: 20px;
  top: 20px;
  border-radius: 50px;
  z-index: 3;
  -webkit-box-shadow: 7px 2px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 7px 2px 15px rgba(0, 0, 0, 0.3);
}
.popup-close:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: url("../img/close.svg") no-repeat center center/cover;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
@media (hover: hover) {
  .popup-close:hover:before {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@media (max-width: 767px) {
  .popup-close {
    width: 32px;
    height: 32px;
    right: 8px;
    top: 8px;
  }
}

.popup-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  gap: 30px;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: var(--white);
  color: var(--brown);
  border-radius: 50px;
  -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}
.popup-content.active {
  pointer-events: all;
}
@media (max-width: 767px) {
  .popup-content {
    gap: 20px;
    max-width: 100%;
    padding: 30px 10px 14px 10px;
    border-radius: 20px;
  }
}

#help {
  max-width: 700px;
  padding: 0;
}
#help .help-image {
  position: relative;
  z-index: 1;
  max-width: 100%;
}
@media (max-width: 767px) {
  #help {
    max-width: 375px;
  }
}

#registration-success {
  background: #d9d9d9 url("../img/wave-popup.svg") no-repeat center bottom;
  background-size: 100% 738px;
  padding: 42px 20px 32px 20px;
  gap: 14px;
}
#registration-success .text {
  font-size: 46px;
  margin-top: 30px;
  margin-bottom: 120px;
}
@media (max-width: 767px) {
  #registration-success {
    max-width: 375px;
    background-size: 150% 440px;
    padding: 30px 10px 25px 10px;
  }
  #registration-success .text {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 30px;
    margin-bottom: 70px;
  }
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-danger {
  display: block;
  text-align: left;
  font-size: clamp(8px, 0.8333vw, 12px);
  line-height: 1;
  color: var(--invalid);
}

label .text-danger {
  display: inline;
  font-size: inherit;
}

.form-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: clamp(4px, 0.4167vw, 6px);
  font-size: clamp(8px, 0.8333vw, 12px);
  line-height: 1;
  color: #9a9e9e;
}
.form-text.help {
  cursor: pointer;
}
.form-text.help img {
  position: relative;
  top: -1px;
}

.form-label {
  display: block;
  width: 100%;
  font-size: clamp(11px, 1.5972vw, 23px);
  line-height: 1;
  text-align: left;
  margin-bottom: clamp(0px, 0.2778vw, 4px);
}

.fieldset:first-child {
  font-family: var(--tt);
  font-weight: 500;
}
.fieldset:first-child .form-label {
  font-size: clamp(13px, 1.3889vw, 20px);
  margin-bottom: 0px;
  color: #9a9e9e;
}
.fieldset:first-child .form-control {
  width: 100%;
  height: clamp(20px, 2.6389vw, 38px);
  background: none;
  border: none;
  border-bottom: 1px solid var(--black);
  color: var(--black);
  font-family: var(--next);
  font-weight: 400;
  outline: none;
  font-size: clamp(12px, 1.5972vw, 23px);
  padding: 0;
}
.fieldset:first-child .form-control:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--grey-light) inset !important;
          box-shadow: 0 0 0px 1000px var(--grey-light) inset !important;
  -webkit-text-fill-color: var(--black) !important;
  font-size: clamp(12px, 1.5972vw, 23px) !important;
  font-family: var(--next) !important;
  -webkit-transition: background-color 9999s ease-in-out 0s;
  transition: background-color 9999s ease-in-out 0s;
}

.btn-check {
  display: none;
}
.btn-check + .checkbox-label-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: clamp(30px, 3.2639vw, 47px);
  height: clamp(30px, 2.9861vw, 43px);
  border: 1px solid var(--black);
  font-family: var(--next);
  font-size: clamp(11px, 1.5972vw, 23px);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 4px 0px;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s var(--transition);
  transition: 0.3s var(--transition);
}
.btn-check:checked + .checkbox-label-text {
  background: var(--color);
}

.form-check {
  text-align: left;
  padding-left: clamp(28px, 2.3611vw, 34px);
}
.form-check > .text-danger {
  padding-top: 4px;
}

.form-check-input {
  display: none;
}
.form-check-input + .form-check-label {
  position: relative;
  font-size: clamp(14px, 1.5278vw, 22px);
  line-height: 1.2;
  color: #8b8d8d;
}
@media (max-width: 767px) {
  .form-check-input + .form-check-label {
    font-size: 11px;
    display: block;
    line-height: 1.2;
  }
}
.form-check-input + .form-check-label {
  cursor: pointer;
}
.form-check-input + .form-check-label:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: -26px;
  top: 9px;
  border: 1px solid #8b8d8d;
  background: #dbdddd;
}
@media (max-width: 767px) {
  .form-check-input + .form-check-label:before {
    top: 0px;
  }
}
.form-check-input + .form-check-label:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  left: -24px;
  top: 11px;
  background: var(--color);
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s var(--transition) 0s;
  transition: -webkit-transform 0.3s var(--transition) 0s;
  transition: transform 0.3s var(--transition) 0s;
  transition: transform 0.3s var(--transition) 0s, -webkit-transform 0.3s var(--transition) 0s;
}
@media (max-width: 767px) {
  .form-check-input + .form-check-label:after {
    top: 2px;
  }
}
.form-check-input:checked + .form-check-label:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.form-control {
  border: 1px solid var(--black);
  width: 100%;
  height: clamp(30px, 3.125vw, 45px);
  margin: clamp(2px, 0.2778vw, 4px) 0px;
  background: rgba(0, 0, 0, 0);
  padding: 0px clamp(8px, 0.9028vw, 13px);
  font-family: var(--next);
  font-weight: 400;
  font-size: clamp(18px, 2.4306vw, 35px);
  outline: none;
  color: var(--black);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.form-control:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--grey-light) inset !important;
          box-shadow: 0 0 0px 1000px var(--grey-light) inset !important;
  -webkit-text-fill-color: var(--black) !important;
  font-size: clamp(18px, 2.4306vw, 35px) !important;
  font-family: var(--next) !important;
  -webkit-transition: background-color 9999s ease-in-out 0s;
  transition: background-color 9999s ease-in-out 0s;
}

.form-select.open + .input-icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.input-select-wrapper {
  display: block;
  width: 100%;
  position: relative;
  margin: clamp(2px, 0.2778vw, 4px) 0px;
}
.input-select-wrapper.auto {
  width: auto;
}
.input-select-wrapper .form-select {
  margin: 0;
}

.form-select {
  border: 1px solid var(--black);
  width: 100%;
  height: clamp(30px, 3.125vw, 45px);
  margin: clamp(2px, 0.2778vw, 4px) 0px;
  background: var(--grey-light);
  padding: 0px clamp(8px, 0.9028vw, 13px);
  font-family: var(--next);
  font-weight: 500;
  font-size: clamp(18px, 2.4306vw, 35px);
  outline: none;
  color: var(--black);
  padding-right: 45px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: clamp(30px, 3.125vw, 45px);
  height: clamp(30px, 3.125vw, 45px);
  right: 0px;
  top: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  pointer-events: none;
}
.input-icon img {
  width: 40%;
  height: auto;
  pointer-events: none;
}